.botonHome{
    position:relative;
    margin-left: 50px;
    margin-top: 30px;
}

.body{
    background-color:#183c5c;
}

.title{
    text-align: center;
    position:relative;
    margin-top: 30px;
    color: #ffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.grid{
    position:relative;
    margin-top: 80px;
    color:#ffff;
}

.buttLeft{
    position:relative;
    margin-left: 20px;
    margin-top: 800px;
}
